<a href="https://colab.research.google.com/github/SoramKim/Machine-Learning-Study/blob/main/FeatureSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Stepwise Feature Selection (forward/ backward)

In [ ]:
# libraries
import numpy as np
import scipy as sp
import pandas as pd

# read data
df = pd.read_csv('data07_diabetes.csv')
X = df.iloc[:,:-1]
y = df['Y']
df # normalized 된 데이터 값

          age       sex       bmi       map  ...       tch       ltg       glu    Y
0    0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646  151
1   -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204   75
2    0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930  141
3   -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362  206
4    0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641  135
..        ...       ...       ...       ...  ...       ...       ...       ...  ...
437  0.041708  0.050680  0.019662  0.059744  ... -0.002592  0.031193  0.007207  178
438 -0.005515  0.050680 -0.015906 -0.067642  ...  0.034309 -0.018118  0.044485  104
439  0.041708  0.050680 -0.015906  0.017282  ... -0.011080 -0.046879  0.015491  132
440 -0.045472 -0.044642  0.039062  0.001215  ...  0.026560  0.044528 -0.025930  220
441 -0.045472 -0.044642 -0.073030 -0.081414  ... -0.039493 -0.004220  0.003064   57

[442 rows x 11 columns]

In [ ]:
# boston data set
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.75,random_state=0)

In [ ]:
# forward feature selection
np.random.seed(0)
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
vn = list(xtrain.columns)
f_sel= []
score = []
for i in range(xtrain.shape[1]):
    s = np.zeros(len(vn))
    for j in range(len(vn)):
        v = f_sel.copy()
        v.append(vn[j])
        x = xtrain[v]
        f = LinearRegression()
        cv_score = cross_val_score(f,x,ytrain,cv=5)
        s[j] = cv_score.mean()
    v = vn[s.argmax()]  # 어떤 변수를 넣었을때 제일 큰 값이 나오는지 v 반환
    f_sel.append(v)
    vn.remove(v)
    score.append(s.max())
    print("%02d Selected:"%i,f_sel)
    print("%02d Score   :"%i,np.round(10000*np.array(score))/10000)

00 Selected: ['bmi']
00 Score   : [0.3935]
01 Selected: ['bmi', 'ltg']
01 Score   : [0.3935 0.544 ]
02 Selected: ['bmi', 'ltg', 'hdl']
02 Score   : [0.3935 0.544  0.5556]
03 Selected: ['bmi', 'ltg', 'hdl', 'sex']
03 Score   : [0.3935 0.544  0.5556 0.5627]
04 Selected: ['bmi', 'ltg', 'hdl', 'sex', 'map']
04 Score   : [0.3935 0.544  0.5556 0.5627 0.5657]
05 Selected: ['bmi', 'ltg', 'hdl', 'sex', 'map', 'tch']
05 Score   : [0.3935 0.544  0.5556 0.5627 0.5657 0.5587]
06 Selected: ['bmi', 'ltg', 'hdl', 'sex', 'map', 'tch', 'tc']
06 Score   : [0.3935 0.544  0.5556 0.5627 0.5657 0.5587 0.5475]
07 Selected: ['bmi', 'ltg', 'hdl', 'sex', 'map', 'tch', 'tc', 'ldl']
07 Score   : [0.3935 0.544  0.5556 0.5627 0.5657 0.5587 0.5475 0.5342]
08 Selected: ['bmi', 'ltg', 'hdl', 'sex', 'map', 'tch', 'tc', 'ldl', 'glu']
08 Score   : [0.3935 0.544  0.5556 0.5627 0.5657 0.5587 0.5475 0.5342 0.5208]
09 Selected: ['bmi', 'ltg', 'hdl', 'sex', 'map', 'tch', 'tc', 'ldl', 'glu', 'age']
09 Score   : [0.3935 0.544  0.5556 0.5627 0.5657 0.5587 0.5475 0.5342 0.5208 0.5041]

-> 변수 증가하면 성능 좋아지다가, 어느순간 다시 성능이 떨어진다. (overfitting)

In [ ]:
# finally selected features    
f_sel_final = f_sel[:(np.array(score).argmax()+1)]
f_sel_final

['bmi', 'ltg', 'hdl', 'sex', 'map']

In [ ]:
# test on the test set
from sklearn.linear_model import LinearRegression
f = LinearRegression()
f.fit(xtrain[f_sel_final],ytrain)
f.score(xtest[f_sel_final],ytest)

0.43841451014788213

In [ ]:
# comparison with the full model
f.fit(xtrain,ytrain)
f.score(xtest,ytest)

0.43510681849311494